@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
    format('truetype');
}

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

$font-sizes: (
  'tiny': 0.875rem,
  'small': 1rem,
  'medium': 1.125rem,
  'big': 1.5rem,
  'huge': 2.25rem,
);

@function getFontSize($key) {
  @return map-get($font-sizes, $key);
}
